dxf/raw/89-SB-87.dxf
dxf/raw/42-SB-M24.dxf
dxf/raw/38-SB-M24.dxf
dxf/embed/0053_embed.dxf
dxf/embed/42-SB-M24_embed.dxf
dxf/embed/38-SB-M24_embed.dxf
record.txt
dxf/attack/38-SB-M24_rotate.dxf
dxf/attack/38-SB-M24_trans.dxf
dxf/attack/38-SB-M24_resize.dxf
